<header>
    <div class="header-top">
      <img src="assets/phone-icon.jpg" alt="Phone Icon" class="phone-icon" />
      <span class="phone-number">(704) 228-1001</span>
    </div>
  </header>
  <app-navbar></app-navbar>
  
  <h1>Non-Discrimination Statement</h1>
  
  <div class="text-box">
    <p>
        We Are Committed To Equal Employment And Volunteer Opportunity Without Regard To Age, Ancestry, Disability, National Or Ethnic Origin, Race, Religious Belief, 
        Sex, Sexual Orientation, Gender Identity, Marital Status, Political Belief, Or Veteran Status. This Policy Applies To All Areas Of Employment And Volunteer Participation, 
        Including Recruitment, Hiring, Training And Development, Promotion, Transfer, Termination, Layoff, Compensation, Benefits, Social And Recreational Programs, All Other Conditions And 
        Privileges Of Employment In Accordance With Applicable Federal, State And Local Laws.
    </p>
  </div>
  
