
<div>
    <div class="history-box">
        <h1>History</h1>
    
        <p><strong>Founded:&nbsp; </strong> January 2023</p>
        <p><strong>Operating Since:&nbsp;</strong> November 2023</p>
        <p><strong>Deployment Start:&nbsp; </strong> Feburary 2024</p>
        <p><strong>Geographic Footprint:&nbsp; </strong> Statesville, NC</p>
    
    </div>
    
    <div class="our-network-box">
        <h1>Our Network</h1>
    
        <p><strong>Miles of Plant:&nbsp;</strong> 31/64 (2024 Planned)</p>
        <p><strong>Home Passings:&nbsp; </strong> 2,570/5,000 (2024 Planned)</p>
        <p><strong>Our Users:&nbsp; </strong> 90% Residential 10% Commercial</p>
        <p><strong>ARPU:&nbsp; </strong> $70+</p>
    
    </div>
    

</div>

<div class="details-box">

    <h2><b>Investor <em>Relations</em></b></h2>
    <p>At&nbsp;BRIDGENET™&nbsp;, we are committed to
        revolutionizing communications infrastructure with our cutting-edge fiber optic network. Our vision is to
        provide unparalleled internet connectivity and VOIP services, enhancing digital experiences for both
        individual consumers and businesses.</p>
    <h2><strong>Our <em>Mission</em></strong></h2>
    <p>
            
        BRIDGENET™ is more than just an internet service provider. We are pioneers in deploying high-speed, reliable, and scalable
        internet access. Our mission is to connect communities and empower them with ultra-fast internet, ensuring
        no one is left behind in the digital age.</p>
    <h2><strong>Investment <em>Philosophy</em></strong></h2>
    <p>We believe in sustainable, long-term growth. Our approach is centered around:</p>
    <ul>
        <li><strong>Innovative Technology</strong>: Leveraging the latest advancements in network architecture for
            superior value in service delivery.</li>
        <li><strong>Community Focus</strong>: Building networks that serve the needs of local communities, fostering
            growth and development.</li>
        <li><strong>Environmental Responsibility</strong>: Implementing eco-friendly practices in our operations and
            infrastructure development.</li>
    </ul>
    <h2><strong>Future <em>Plans</em></strong></h2>
    <p>Our roadmap is expansive, with plans to extend our fiber network beyond Statesville, ensuring high-speed
        internet accessibility in underserved and unserved regions. We are also exploring the integration of new
        technologies to enhance our network’s capabilities and efficiency.</p>
    <h2><strong>Connect with <em>Us</em></strong></h2>
    <p>Although we are not actively raising capital, we are always open to discussions with like-minded investors
        who share our vision for transformative communication infrastructure. We believe in building relationships
        today that can lead to fruitful collaborations tomorrow.</p>
    <p>If you are interested in our vision and would like to explore potential investment opportunities, or if you
        have a proposal that aligns with our goals, we would be delighted to hear from you.</p>
    <h2><strong>Contact<em> Information</em></strong></h2>
    <p>For investment-related inquiries, please reach out to us at:</p>
    <p>Email: Investors&#64;BridgeNET-Inc.com</p>
    <p>Thank you for your interest in BRIDGENET™, Inc. We are excited about the future of internet
        connectivity and the role we are playing in shaping it. Together, we can build a more connected and
        digitally empowered world.</p>
</div>