<div class="container">
    <div class="future-container">
        <img src="assets/home-icon.jpg">
        <h2>THE FUTURE OF COMMUNICATION</h2>
    </div>
    <div class="compliance-container">
        <h2>Compliance</h2>
        <div class="list-div">
            <mat-action-list>
                <button mat-list-item [routerLink]="'do-not-sell-my-info'">Do Not Sell My Info</button>
                <button mat-list-item [routerLink]="'equal-oppurtunity'">Equal Oppurtunity Employer</button>
                <button mat-list-item [routerLink]="'non-discrimination'">Non-Discrimination Statement</button>
                <button mat-list-item [routerLink]="'privacy-policy'">Privacy Policy</button>
                <button mat-list-item [routerLink]="'terms-of-use'">Terms of Use</button>
            </mat-action-list>
        </div>              
    </div>
    <div class="quick-links-container">
        <h2>Quick Links</h2>
        <div class="list-div">
            <mat-action-list>
                <button mat-list-item (click)=null>Why Fiber?</button>
                <button mat-list-item (click)=null>FAQ</button>
                <button mat-list-item (click)=null>Investor Relations</button>
                <button mat-list-item (click)=null>Contractors</button>
                <button mat-list-item (click)=null>Jobs</button>
            </mat-action-list>
        </div>
    </div>
    <div class="get-in-touch-container">
        <h2>Get In Touch</h2>
        <div class="list-div">
            <mat-list>
                <mat-list-item>Email: </mat-list-item>
                <mat-list-item>Phone: </mat-list-item>
                <mat-list-item>Hours: </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>