/* Container styles */
.container {
    display: flex;
    justify-content: flex-start; /* Use 'flex-start' instead of 'left' */
    background-color: white;
    height: auto;
    width: 100%;
    margin-top: 10px;
    position: relative; /* To handle absolute positioning of h2 */
    flex-wrap: wrap; /* Ensure wrapping for smaller screens */
  }
  
  /* Image styles */
  img {
    padding-top: 20px;
  }
  
  /* Heading styles */
  h2 {
    padding-top: 20px;
  }
  
  /* Section container styles */
  .section-container {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center align items */
    justify-content: flex-start; /* Align items to the start */
    width: 25%;
    height: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box; /* Include padding in width and height */
  }
  
  /* List styles */
  .list-div {
    padding-top: 20px;
    width: 100%;
  }
  
  /* Media Queries */
  @media (max-width: 1200px) {
    .section-container {
      width: 33.33%;
    }
  }
  
  @media (max-width: 900px) {
    .section-container {
      width: 50%;
    }
  }
  
  @media (max-width: 600px) {
    .section-container {
      width: 100%;
    }
  }
  