<header>
  <div class="header-top">
    <img src="assets/phone-icon.jpg" alt="Phone Icon" class="phone-icon" />
    <span class="phone-number">(704) 228-1001</span>
  </div>
</header>
<app-navbar></app-navbar>

<h1>About Us</h1>

<div class="text-box">
  <p>
    Our journey at BridgeNET Fiber began right here in Statesville, North
    Carolina. Our roots run deep, and our story starts with our humble
    beginnings as telephone workers three generations ago.
  </p>
  <p>
    Our commitment to this community has never wavered. We’re not just another
    service provider; we are an integral part of your community. Over the years,
    we’ve grown alongside the city. Many of our team members proudly call
    Statesville their home, and they are dedicated to ensuring that every
    resident and business in our founding city has access to the essential
    fiber-optic technology required in today’s fast-paced digital landscape.
  </p>
  <p>
    Yet, our vision extends far beyond the boundaries of Statesville. While we
    continue to nurture our roots at home, we also set our sights on the broader
    horizon. Our journey has only just begun, and we are ready to expand our
    footprint, bringing our state-of-the-art fiber network to new communities.
    We envision a future where high-speed internet isn’t a luxury but a
    fundamental service accessible to all, regardless of their location.
  </p>
  <p>
    At BridgeNET Fiber, we are more than just a service provider; we are
    partners in progress, catalysts for growth, and champions of innovation,
    rooted in our construction heritage and committed to building a connected
    world for all.
  </p>
</div>
