<header>
    <div class="header-top">
      <img src="assets/phone-icon.jpg" alt="Phone Icon" class="phone-icon" />
      <span class="phone-number">(704) 228-1001</span>
    </div>
  </header>
  <app-navbar></app-navbar>
  
  <h1>Equal Opportunity Employer</h1>
  
  <div class="text-box">
    <p>
        We Are An Equal Opportunity Employer. We Are Committed To Creating An Inclusive Environment For All Employees.
    </p>
    <p>
        We Prohibit Unlawful Discrimination Or Harassment On The Basis Of Race, Color, Religion, Religious Creed, National Origin, Ancestry, Age, Sex, Sexual Orientation, Gender, Gender Identity, 
        Physical Disability, Mental Disability, Pregnancy, Medical Condition, Genetic Information, Marital Status, Citizenship Status, 
        Military Status, Veteran Status, Or Any Other Characteristic To The Extent Protected By Federal, State, Or Local Laws.
    </p>
    <p>
        This Policy Against Harassment Or Discrimination Extends To Coworkers, Contractors, And Vendors.
    </p>
    <p>
        We Have A Strict No-Retaliation Policy. We Prohibit Retaliation Against Individuals Who Report Harassment Or Discrimination, Or Who Participate In Investigations Into Such Conduct. 
        Violations Of Any Of These Policies Could Lead To Disciplinary Action.


    </p>
  </div>
  
