.phone-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.phone-number {
  text-align: center;

  margin: 10px;
  font-size: 1.2em;
}

.header-top {
  background-color: #120463;
  color: white;
  padding: 10px;
  text-align: center;
}

nav ul li img {
  width: 40px;
  height: 40px;
}

.service-container {
  margin-bottom: 200px;
}