<header>
    <div class="header-top">
      <img src="assets/phone-icon.jpg" alt="Phone Icon" class="phone-icon" />
      <span class="phone-number">(704) 228-1001</span>
    </div>
  </header>
  <app-navbar></app-navbar>
  
  <h1>Terms of Use</h1>
  
  <div class="text-box">
    <p>
        This Website Features Registered And Non-Registered Trademarks And Copyright-Protected Content. 
        Many Of These Trademarks Are Federally Registered Trademarks And May Not Be Used Without Permission.
    </p>
    <p>
        In Preparation Of This Website, We’ve Strived To Offer Visitors Current, Accurate, And Clearly Expressed Information About Our Products And Services. 
        However, Inadvertent Errors Can Occur. Please Be Aware Changes Are Made Periodically To This Website And May Be Made At Any Time Without Notice.
    </p>
    <p>
        This Website And All Of Its Contents, Including Third-Party Content And Links, Are Provided As Is Without Warranty Of Any Kind, Either Express Or Implied, 
        But Not Limited To Merchantability, Fitness Or Non-Infringement. If You Rely On Any Data Or Information Found On Or Through This Site, 
        You Do So At Your Own Risk. (If You Live In A State Which Does Not Permit Disclaimers Of Implied Warranties, This Part Of Our Disclaimer May Not Apply To You.) 
        We Will Not Be Liable To Any Party For Any Direct, Indirect, Special, Consequential, Or Other Damages Resulting From The Use Of This Website Or Any Linked Website, 
        Even If You Expressly Advised Us Of The Possibility Of Such Damages.
    </p>
    <p>
        Hyperlinks To Other Websites Are Provided Solely As A Convenience And Do Not Constitute Endorsement Or Approval Of, Or Affiliation With, 
        These Linked Websites Or The Organizations That Provide Them Unless Otherwise Noted.
    </p>
  </div>
  
