<div class="service-boxs-title">
    <h1 id="title">Residential Service Packages</h1>
</div>


<div class="service-details-container">
    <div class="container">
        <div class="header">1 Gbps<br>High Speed Internet</div>
        <div class="mainbody">
            <mat-list>
                <mat-list-item>$52.99 Monthly</mat-list-item>
                <mat-list-item>Includes Advanced WiFi Router</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>1 Gbps download and upload speeds</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Perfect for HD streaming</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Reliable connectivity with minimal latency</mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="container">
        <div class="header">2 Gpbs<br>Ultra Speed Internet</div>
        <div class="mainbody">
            <mat-list>
                <mat-list-item>$99.99 Monthly</mat-list-item>
                <mat-list-item>Includes Advanced WiFi Router</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>2 Gbps download and upload speeds</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Ideal for 4K/8K streaming, online gaming, and multiple users</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Reliable connectivity with minimal latency</mat-list-item>
            </mat-list>
        </div>
    </div>

    <div class="container">
        <div class="header">5 Gbps<br>Hyper Speed Internet</div>
        <div class="mainbody">
            <mat-list>
                <mat-list-item>$139.99 Monthly</mat-list-item>
                <mat-list-item>Includes Advanced WiFi Router</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>5 Gbps download and upload speeds</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Ideal for multiple 4K/8K streams, competetive gaming and many users</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Reliable connectivity with minimal latency</mat-list-item>
            </mat-list>
        </div>
    </div>
</div>


<button mat-raised-button color="White">Check Your Address</button>

