<header>
    <div class="header-top">
        <img src="assets/phone-icon.jpg" alt="Phone Icon" class="phone-icon" />
        <span class="phone-number">(704) 228-1001</span>
    </div>
</header>
<app-navbar></app-navbar>

<h1>Do Not Sell My Info</h1>

<div class="text-box">
    <div>
        <p>
            <strong>Provisions Specific to the California Consumer Privacy Act
                (CCPA)</strong>
        </p>

        <p>
            <strong>Personal Information We Have Collected in the Last 12 Months</strong>
        </p>
        <p>
            We generally collect the following types of information from you. Not all
            types of information listed below are applicable to all visitors to our
            website or all of our customers, clients, or members.
        </p>
        <p>We don’t sell your data.</p>
        <h3>
            <strong>Identifiers</strong>
        </h3>
        <ul>
            <li>
                <strong>Name, Alias, Mailing Address &amp;Email Address</strong>
                (1)(2): We may collect your contact information as part of providing our
                services to you, to communicate with you, and to keep your contact
                information on file.
            </li>
            <li>
                <strong>Account Name:</strong>
                We may keep in file an account name associated with your information in
                our customer database. This information may be internally generated
                instead of provided by you. We may use this information to identify you,
                provide our services to you, and to authenticate your identity
                throughout the time that we provide services to you.
            </li>
            <li>
                <strong>Social Security Number, Driver’s License Number, State Identification
                    Card Number</strong>
                (1)(2): We may use this information for various purposes in order to
                provide services to you, or to perform checks to decide if we can
                provide service (such as a credit check). We may use it to authenticate
                your identity when we begin providing services to you and throughout the
                time that we provide services to you.
            </li>
            <li>
                <strong>IP Address</strong>
                (2): we collect this information automatically via an HTTP server as
                users browse our website. Unless you voluntarily submit
                personally-identifying information to us through our websites or are
                provided with an account to login to a website provided by us, this is
                information is not associated with you in an identifiable way. This
                information is used for the purposes of supporting, maintaining, and
                troubleshooting our websites.
            </li>
        </ul>
        <h3>
            <strong>Customer Records Information</strong>
        </h3>
        <ul>
            <li>
                <strong>Social Security Number, Driver’s License Number, State Identification
                    Card Number</strong>
                (1)(2): We may use this information for various purposes in order to
                provide services to you, or to perform checks to decide if we can
                provide service (such as a credit check). We may use it to authenticate
                your identity when we begin providing services to you and throughout the
                time that we provide services to you.<br />Name &amp;Address (1)(2): We
                may collect your contact information as part of providing our services
                to you, to communicate with you, and to keep your contact information on
                file.
            </li>
            <li>
                <strong>Signature</strong>
                (1)(2): We may use it to authenticate your identity when we begin
                providing services to you and throughout the time that we provide
                services to you.<br />Employment &amp;Employment History (1)(2): We may
                use it to authenticate your identity when we begin providing services to
                you and throughout the time that we provide services to you. We may use
                it to perform checks to decide if we can provide service. If you apply
                for employment with us, we may also use this information in making
                employment decisions. Our use in employment decision making may include
                verifying this information with your current and former employers and
                asking them for further information about you to use in our employment
                decision process.
            </li>
            <li>
                <strong>Bank Account Number, Credit Card Number, Debit Card Number</strong>
                (1): We may use this information and keep it on file in order to charge
                you for one time or reoccurring payments for our services.
            </li>
            <li>
                <strong>Other Financial Information</strong>
                (1)(2): We may use this information in order to provide financial
                assistance to you or share this information with third parties (such as
                community assistance organizations) to provide financial assistance to
                you. Beyond the information you provide, we may obtain information from
                third parties at your approval, such as your landlord.
            </li>
            <li>
                <strong>Medical Information</strong>
                (1)(2): We may use this information to provide special or prioritized
                services to you, especially during a natural disaster or inclement
                weather.
            </li>
        </ul>
        <h3>Commercial Information</h3>
        <ul>
            <li>
                <strong>Products or services Purchased</strong>
                (2): This information is collected by us at the time of purchase. We may
                use this information to provide you customer service and maintain the
                products and services we provide to you. We may also analyze this
                information and use that analysis as a basis to advertise and promote to
                you other products and services that we offer. We may share this
                information with third parties in order for them to assist us with our
                marketing efforts.
            </li>
            <li>
                <strong>Products or Services Considered, or Other Purchasing or Consuming
                    Histories or Tendencies</strong>
                (2): We may collect this information automatically through our HTTP
                server and through third-party tracking services such as Google
                Analytics. Unless you voluntarily submit information to us or are
                provided with an account to login to a website provided by us, this is
                information is not associated with you in an identifiable way. We may
                use this information to provide you customer service and maintain the
                products and services we provide to you. We may also analyze this
                information and use that analysis as a basis to advertise and promote to
                you other products and services that we offer. We may share this
                information with third parties in order for them to assist us with our
                marketing efforts.
            </li>
        </ul>
        <h2>
            <strong>Internet or Other Electronic Network Activity Information (2)</strong>
        </h2>
        <p>
            We may collect information such as browsing history, search history, and
            other information about your interaction with our websites. This
            information is collected automatically through our HTTP server and through
            third-party tracking services such as Google Analytics. We may use this
            information to improve our website, customer service, product and service
            offerings, for technical troubleshooting purposes, and for general
            marketing efforts. Unless you voluntarily submit information to us or are
            provided with an account to login to a website provided by us, this is
            information is not associated with you in an identifiable way.
        </p>
        <h3>
            <strong>Geolocation Data (2)</strong>
        </h3>
        <p>
            This information is collected automatically through our HTTP server and
            through third-party tracking services such as Google Analytics. We may use
            this information to improve our website, customer service, product and
            service offerings, for technical troubleshooting purposes, and for general
            marketing efforts. Unless you voluntarily submit information to us or are
            provided with an account to login to a website provided by us, this is
            information is not associated with you in an identifiable way.
        </p>
        <h3>
            <strong>Professional or employment-Related Information (1) (2)</strong>
        </h3>
        <p>
            If you apply for employment with us, we may use this information in making
            employment decisions. Our use in employment decision making may include
            verifying this information with your current and former employers and
            asking them for further information to use in our employment decision
            process.
        </p>
        <h3>
            <strong>Education Information(1) (2)</strong>
        </h3>
        <p>
            If you apply for employment with us, we may use this information in making
            an employment decision. Our use in employment decision making may include
            verifying this information with educational institutions you have attended
            or are currently attending and asking them for further information about
            you to use in our employment decision process.
        </p>
        <p>
            (1) You communicate this information voluntarily to us via email, web
            form, telephone, fax, mail, or in person at our business location.
        </p>
        <p>
            (2) This information may be shared with or generally accessible by our web
            hosting company and the digital agency providing website services to us.
            This information is available to them solely for the purposes of
            supporting, maintaining, and troubleshooting our websites. Only
            information submitted through or collected by the website is accessible to
            them.
        </p>
        <h3>Your Consumer Rights Under the CCPA</h3>
        <p>
            The right to know which personal information is being collected<br />
            The right to know if personal data is being sold or shared, and to whom<br />
            The right to object to the sale of personal data<br />
            The right to access one’s own personal information<br />The right to equal
            service and price, even for consumers who exercise their privacy rights
        </p>
        <h2>How to Exercise Your Consumer Rights Under the CCPA</h2>
        <p>
            To request that we assist you in exercising your rights, you may contact
            us.
        </p>
        <p>
            You must provide verifiable proof of identity for us to be able to fulfill
            your request.
        </p>
    </div>
</div>