<header>
  <div class="header-top">
    <img src="assets/phone-icon.jpg" alt="Phone Icon" class="phone-icon" />
    <span class="phone-number">(704) 228-1001</span>
  </div>
</header>
<app-navbar></app-navbar>

<h1>Privacy Policy</h1>

<div class="text-box">
  <p>
    This Policy Describes The Fair Information Practices That Govern The
    Collection, Maintenance, Use, And Disclosure Of Information On Websites
    Owned And Operated By The Copyright Holder Of This Website Hereinafter
    Referred To As The Site Operator. Unless Otherwise Provided, All Information
    Provided On The Website Are Made Available Subject To This Privacy Policy.
    By Accessing This Site Website, You Agree, Without Limitation Or
    Qualification, To Be Bound By This Privacy Policy.
  </p>
  <h3>Information Collected And Stored Automatically</h3>
  <p>
    The Site Operator May Automatically Collect And Store Anonymous Information
    About Site Visitors To Enable Us To Make The Website More Useful And Improve
    The Overall Quality Of The Visitor’s Online Experience. Anonymous
    Information Refers To Data That Cannot Be Tied Back To A Specific
    Individual. We May Collect The Following Anonymous Information From You
    Every Time You Access The Website:
  </p>

  <ol>
    <li>
      Internet Domain From Which You Access Our Website (E.G. Google.Com,
      Your-Company.Com, Bing.Com)
    </li>
    <li>
      IP Address. An IP Address Is Automatically Assigned To Your Computer Or
      Mobile Device When You Surf The Web. In Some Cases, These Addresses May Be
      Individually Or Regionally Identifiable. However, Even When An IP Address
      Is Identifiable, It Usually Takes Additional Effort To Link A Particular
      IP Address To A Specific Individual. For Many Users, An IP Address Cannot
      Be Linked To A Specific Individual.
    </li>
    <li>Type Of Browser And Operating System Used To Access Our Website</li>
    <li>Date And Time Of Access</li>
    <li>Pages Visited</li>
    <li>
      Address Of The Website (If Any) From Which You Linked To The Website
    </li>
  </ol>
  <p>
    Web Logs May Also Be Automatically Created And Used To Identify Visitors Who
    Seek To Damage The Website, Use The Website In Unauthorized Ways, Or
    Interfere With Operations. Information About Users Who Try To Engage In Any
    Unapproved Activities May Be Shared With Law Enforcement Agencies. We Do Not
    Collect Any Personal Information About A Routine Visitor Unless The Visitor
    Provides Information To Us.
  </p>

  <h3>
    <ul>
      <li>Personal Information Collection And Use</li>
    </ul>
  </h3>
  <p>
    You Do Not Have To Provide Any Personally Identifiable Information To Visit
    This Website; However, If You Use The Website To Send Us An E-Mail,
    Subscribe To A Newsletter Or E-Mail Alert, Ask For Information, Or If You
    Provide Personally Identifiable Information Through The Website In Any Other
    Way, We May Collect And May Maintain The Information That You Provide.
    Personally Identifiable Information Refers To Data That Tells Us
    Specifically Who You Are (E.G. Your Name, Address, E-Mail, Electric Service
    Characteristics, Dispute). In The Situations Described Above, Your
    Personally Identifiable Information May Be Shared Among Our Staff, Members,
    And Support Services (Including Third Party Vendors) As We Deem Necessary.
    Once Information Reaches The Correct Office, It Will Be Used In The Same
    Manner As Comparable Information Collected In Other Ways. In No Event Will
    We Sell, Rent Or Lease Your Personally Identifiable Information To Any Third
    Parties.
  </p>

  <h3>
    <ul>
      <li>Linking To Other Sites</li>
    </ul>
</h3>
  <p>
    From Time To Time, The Website May Provide Links To Other Websites, Not
    Owned Or Controlled By Us, That We Think Might Be Useful Or Of Interest To
    You. We Cannot, However, Be Responsible For The Privacy Practices Used By
    Other Website Owners Or The Content Or Accuracy Of Those Other Websites.
    Links To Various Websites Do Not Constitute Or Imply Endorsement Of These
    Websites, Any Products Or Services Described On These Sites, Or Of Any Other
    Material Contained In Them.
  </p>

  <h3>
    <ul>
      <li>Security And Data Quality</li>
    </ul>
  </h3>
  <ol>
    <li>
      The Site Operator Maintains Its Website And Its Information With
      Technical, Administrative, And Physical Safeguards To Protect Against
      Loss, Unauthorized Access, Destruction, Misuse, Modification, And Improper
      Disclosure. We Are Committed To Maintaining Accurate, Timely, Relevant,
      And Appropriate Information About Our Users. No Computer Or Mobile
      Operating System Can Ever Be Fully Protected Against Every Possible
      Hazard. We Provide Reasonable And Appropriate Security To Protect Against
      Foreseeable Hazards.
    </li>
    <li>
      We Require That Employees Who Have Access To Personally Identifiable
      Information From The Website Acknowledge In Writing That They Have Read
      This Privacy Policy And That They Are Expected To Follow It. Any Employee
      Who Fails To Comply With These Rules May Be Subject To Disciplinary Action
      Up To And Including Dismissal.
    </li>
    <li>
      Please Note That Your E-Mail, Like Most, If Not All, Non-Encrypted
      Internet E-Mail Communications, May Be Accessed And Viewed By Other
      Internet Users, Without Your Knowledge Or Permission, While In Transit To
      Us. For That Reason, To Protect Your Privacy, Please Do Not Use E-Mail To
      Communicate Information To Us That You Consider Confidential.
    </li>
    <li>
      “Phishing” Is A Scam Designed To Steal Your Personal Information. If You
      Receive An E-Mail That Looks Like It Is From Us Asking You For Your
      Personal Information, Do Not Respond. We Will Never Request Your
      Passwords, User Names, Credit Card Information Or Other Personally
      Identifiable Information Through E-Mail.
    </li>
  </ol>

  <h3>
    <ul>
      <li>Cookie Policy</li>
    </ul>
  </h3>
  <p>
    A “Cookie” Is An Element Of Data That A Website Can Send To Your Browser And
    Store Your Preferences When You Link To That Website. It Is Not A Computer
    Program And Has No Ability To Read Data Residing On Your Device Or Instruct
    Your Device To Perform Any Step Or Function. By Assigning A Unique Data
    Element To Each Visitor, The Website Is Able To Recognize Repeat Users,
    Track Usage Patterns And Better Serve You When You Return To Our Site. The
    Cookie Does Not Extract Personally Identifiable Information About You.In
    Order To Better Understand How We Use Cookies, The Following Descriptions
    Below Account For The Different Types Of Cookies Which May Be Utilized On
    Our Website. First Party Cookies Are Cookies Set By The Website You Are
    Visiting. Persistent Cookies Are Cookies Which Remain On Your Device For The
    Period Of Time Specified In The Cookie. Persistent Cookies Are Activated
    Each Time That You Visit The Website That Created That Particular Cookie. To
    Help Serve You Better, We Use Persistent, First-Party Cookies To Receive And
    Store Certain Types Of Information Whenever You Interact With Our Website
    Through Your Computer Or Mobile Device. This Information Helps Us Identify
    Return Visitors To Enhance Your User Experience, To Tailor The Website To
    Your Preferences And Track Usage To Understand What Content Is Most Useful
    To Website Visitors. You May Update Your “Cookie” Settings On Your Device At
    Any Time. The Help Function Of Your Browser Should Contain Instructions To
    Allow You To Set Your Device To Accept All Cookies, To Notify You When A
    Cookie Is Issued, Or To Not Receive Cookies At All.
  </p>

  <p>
    If You Use Microsoft Internet Explorer Or Microsoft Edge,
    <a
      href="https://support.microsoft.com/en-us/windows/manage-cookies-in-microsoft-edge-view-allow-block-delete-and-use-168dab11-0753-043d-7c16-ede5947fc64d"
      target="_blank"
    >
      Click Here</a
    >
    To Obtain Information On How To Set Your Cookie Preferences.
  </p>

  <p>
    If You Use Google Chrome,
    <a
      href="https://support.google.com/accounts/answer/61416?hl=en"
      target="_blank"
    >
      Click Here</a
    >
    To Obtain Information On How To Set Your Cookie Preferences.
  </p>

  <p>
    If You Use Firefox,
    <a
      href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer"
      target="_blank">
      Click Here</a>
    To Obtain Information On How To Set Your Cookie Preferences.
  </p>

  <p>
    If You Use Apple Safari,
    <a href="https://support.apple.com/en-us/105082" target="_blank">
       Click Here</a>
    To Obtain Information On How To Set Your Cookie Preferences.
  </p>

  <p>
    Note That If You Set Your Preferences So Your Device Does Not Receive
    Cookies, Certain Features Of The Website Cannot Be Provided To You, And You
    May Not Be Able To Take Full Advantage Of All The Website Content.
  </p>

  <h3>
    <ul>
      <li>Uses And Disclosures</li>
    </ul>
  </h3>

  <ol>
    <li>
      The Site Operator Uses Its Website To Provide Services And Information To
      Its Members, Employees, And Members Of The General Public.
    </li>
    <li>General</li>
    <p>
      We May Share Information We Collect On Our Website With Companies That
      Provide Support Services To Us (Such As Auditors, Web Hosting Providers,
      Or Call Center Service Providers). These Companies May Need This
      Information In Order To Perform Their Functions. We Generally Direct
      Recipients To Agree To Safeguard Personal Information, To Use It Only As
      Authorized By Us, And To Return It Or Destroy It When No Longer Required.
    </p>
    <li>Legal Process</li>
    <p>
      We Could Be Required To Disclose Personal Information In Response To Valid
      Legal Process, Such As A Search Warrant, Subpoena, Or Court Order. Any
      Record Keeper Faces This Possibility. Disclosures May Also Be Appropriate
      To Protect Our Legal Rights Or During Emergencies If Physical Safety Is
      Believed To Be At Risk. We Believe That These Events Are Unlikely, But
      They Are Possible. We Will Take Reasonable Steps To Limit The Scope And
      Consequences Of Any Of These Disclosures.
    </p>
    <li>Recruiting Services</li>
    <p>
      Web Users Can Search And Apply Online For Employment Opportunities With
      The Site Operator And Its Affiliated Companies. If You Complete A Job
      Application Online, Provide A Resume, Or Disclose Other Personal
      Information For A Recruitment Activity, We May Use Your Information In The
      Same Manner As If You Applied By Regular Mail Or In Person. The
      Information Will Only Be Used For Recruiting And Employment Purposes. It
      Is Possible That Information About You Or About Your Application Will Be
      Shared Externally To Verify The Information, To Obtain References, Or For
      Other Employment-Related Purposes. When Appropriate, Application
      Information Will Be Shared With A Member Cooperative That Advertised A
      Vacancy. Each Member Cooperative Has Independent Policies And Practices
      For The Use And Disclosure Of Employment Applications.
    </p>
  </ol>

  <h3>
    <ul>
      <li>Subscriptions</li>
    </ul>
  </h3>
  <p>
    You May Voluntarily Sign Up To Receive Various Newsletters, Updates Or
    Alerts, And Other Such Communications, Directly Or Indirectly, From Our
    Staff Or Affiliates. By Electing To Receive Any Communication, You
    Understand That Your Information Will Be Retained By Us And May Be Added To
    Our Contact Database. Based Upon Your Election, We May Contact You Directly
    Concerning Other Publications Or Events That May Be Useful To You. Note That
    As A Recipient Of Any Generated Communications, You May Unsubscribe From
    Future Messages Via A Link At The Bottom Of Each Email Message To Be Removed
    From Our Contact List. We Do Not Sell, Rent, Or Otherwise Share Lists Of
    Subscribers To Publications, Online Newsstand Services, Or List Servers.
  </p>

  <h3>
    <ul>
      <li>Changes To This Policy</li>
    </ul>
  </h3>

  <p>
    We May Change This Statement From Time To Time. We Encourage You To
    Periodically Reread This Policy To See If There Have Been Any Changes That
    May Affect You. This Statement Is Not Intended To And Does Not Create Any
    Contractual Or Other Legal Rights In Or On Behalf Of Any Party.
  </p>

  <h3>
    <ul>
      <li>Children And Privacy</li>
    </ul>
</h3>

  <p>
    We Are Committed To Protecting The Privacy Needs Of Children And Encourages
    Parents And Guardians To Take An Active Role In Their Children’s Online
    Activities. Our Website Does Not Target And Are Not Intended To Attract
    Children Under The Age Of 13. We Do Not Knowingly Solicit Personal
    Information From Children Under The Age Of 13 Nor Send Them Requests For
    Personal Information.
  </p>
</div>
