<header>
  <div class="header-top">
    <img src="assets/phone-icon.jpg" alt="Phone Icon" class="phone-icon">
    <span class="phone-number">(704) 228-1001</span>
  </div>
</header>
<app-navbar></app-navbar>
<section class="banner">
  <!-- Your existing home component content here -->
  <div class="banner">
    <h1>Feeling Overwhelmed by Complicated Internet Plans?
    </h1>
    <p>We are Statesville's ONLY 100% fiber internet. This is not Wireless, it's not 5G. We are not a reseller or some type of gimmick.</p>
    <h1>We are BRIDGENET FIBER
    </h1>
  </div>
</section>

<section class="video-banner">
  <div class="video-overlay">
    <h1>Better Internet for Statesville</h1>
    <p>To get started check below for service availability at your address</p>
  </div>
  <iframe 
    src="https://player.vimeo.com/video/877741828?autoplay=1&loop=1&muted=1&background=1" 
    frameborder="0" 
    allow="autoplay; fullscreen; picture-in-picture" 
    allowfullscreen>
  </iframe>
  <div class="search-bar">
    <input type="text" placeholder="Enter your address">
    <button>Search</button>
  </div>
</section>

<section class="why-bridgenet">
  <div class="why-bridgenet-content">
    <div class="text-box">
      <p>BRIDGENET™ Fiber is Statesville’s home-grown internet service provider. We are a locally-owned company that will provide the excellent customer experience that other internet service providers cannot. We care deeply about our community and are passionate about providing you with great service. </p>
    </div>
    <div class="header-box">
      <h2>Why
        BRIDGENET ™
        Fiber?</h2>
    </div>
  </div>
</section>

  <section class="services">
    <h2>Our Services</h2>
    <div class="service-list">
      <div class="service-item">
        <h3>Service 1</h3>
        <p>Details about Service 1.</p>
      </div>
      <div class="service-item">
        <h3>Service 2</h3>
        <p>Details about Service 2.</p>
      </div>
    </div>
  </section>
  <section class="about">
    <h2>About Us</h2>
    <p>Information about BridgeNET Fiber.</p>
  </section>
  <section class="contact">
    <h2>Contact Us</h2>
    <p>Email: info&#64;bridgenet-inc.com</p>
    <p>Phone: 123-456-7890</p>
  </section>
